body {
  background-color: pink;
  font-family: "Montserrat";
}


.table-title {
  text-align: left;
}

.table-of-contents {
  text-align: left;
}

img {
width: 600px;
height: 400px;
}

.source {
  text-align: left;
}
